# Database Configuration
DB_HOST=localhost
DB_PORT=3306
DB_NAME=dho_db
DB_USERNAME=root
DB_PASSWORD=password

# App Configuration
UPLOAD_DIR=uploads
PORT=8090
ALLOWED_ORIGINS=http://localhost:5173,https://recruitment-board-dho-staging.sebratel.net.br/

# Security
SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI=https://accounts.google.com
